sudo: false
dist: xenial
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
install:
    - pip install -q -U pip
    - pip install tox
    - pip install tox-travis
    - pip install pyyaml==5.2
    - pip install python-coveralls==2.9.1
script:
  - tox
after_success:
  - coveralls
